#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}
.form-field {
  margin: 50px 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.form-field > input {
  border: gray 1px solid;
  border-radius: 5px;
  padding: 10px;
}
.btn-container {
  display: flex;
}
.btn-container > button {
  margin: 0px 100px;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
.add-items {
  background-color: rgb(23, 150, 23);
}
.clear-all {
  background-color: rgb(170, 31, 31);
}
